<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="{$basePath}/css/theatre.css" rel="stylesheet" type="text/css" />
<link href="{$basePath}/js/theatre.js" rel="javascript" type="text/css" />

<tr n:foreach="$seatNumbers as $seatNumber">
  <td>{$seatNumber}</td>
</tr>
