<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení objednávky</title>
    <style>
    body {
        background: url('https://i.imgur.com/NRAOG6M.jpg')
    }
    </style>
</head>
<body>
    <p>Dobrý den,</p>
    <br>
    <p>potvrzujeme vaši rezervaci v divadle Harfa.</p>
    <br>
    <p>Na představení {$emailParams['name']} jste rezervovali sedadla {$emailParams['seats']}. Celková částka k zaplacení je {$emailParams['price']}.</p>
    <p>Představení se koná {$emailParams['date']} v {$emailParams['time']}. Dostavte se prosím k pokladně nejpozději v {$emailParams['early']}.</p>
    <br>
    <p>Těšíme se na Vaši návštěvu.</p>
    <br>
    <p>Divadlo Harfa</p>
</body>
</html>
